.bsp/
.scala-build/
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
project/project
project/metals.sbt
.DS_Store
.metals/
.vscode/
redacted_cvs/*
!redacted_cvs/.gitkeep
incoming_cvs/*
!incoming_cvs/.gitkeep
