@import views.html.helper.CSRF
@()(implicit request: RequestHeader)

@main("Redact PDF") {
  <div class="form-container">
  <h1 class="h1 mb-3 font-weight-normal">Redact PDF</h1>
    <h2 class="h4 mb-3 font-weight-normal">Name-blind recruitment</h2>


    <div class="card box-shadow">
    <div class="card-header">Single Candidate</div>
    <div class="card-body">
    @helper.form(action = CSRF(routes.Application.upload()), Symbol("enctype") -> "multipart/form-data") {
      <label for="inputName" class="sr-only">Candidate name</label><input type="text" name="name" id="inputName" class="form-control" placeholder="Candidate name">
      <input type="file" name="pdf" class="form-control" accept="application/pdf">
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Upload">
    }
    </div>
    </div>

    <div class="card box-shadow">
    <div class="card-header">Multiple Candidates (Taleo)</div>
    <div class="card-body">
    @helper.form(action = CSRF(routes.Application.importFromTaleo()), Symbol("enctype") -> "multipart/form-data") {
      <input type="file" name="pdf" class="form-control" accept="application/pdf">
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Upload">
    }
    </div>
    </div>

    <p class="mt-5 mb-3 text-muted">
      This tool attempts to remove names, pronouns, email addresses and urls from CVs so that recruiters
      selecting people for interview aren't influenced by the candidates gender. It is not
      perfect, so I'd recommend a manual check of the results.
    </p>

  </div>
}
